<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	<appSettings>
		<!-- Database keys -->
		<add key="SQLConnection" value="SERVER=oegensvr2\bkupexec;Initial Catalog=APT;UID=apt_user;PWD=password1=;" />
		<add key="ContextKey" value="someKeyTest"/>

		<!-- Token Status IDs -->
		<add key="TokenStatusFree" value="1"/>
		<add key="TokenStatusLock" value="2"/>
		<add key="TokenStatusCons" value="3"/>
		<add key="TokenStatusCancelled" value="4"/>

		<!-- Place Type IDs -->
		<add key="PlaceTypeStart" value="1"/>
		<add key="PlaceTypeIntermediate" value="2"/>
		<add key="PlaceTypeFinish" value="3"/>

		<!-- Password Values -->
		<add key="PasswordCharacters" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"/>
		<add key="PasswordNumerics" value="0123456789"/>
		<add key="PasswordLength" value="8"/>
		
		<!-- User Roles -->
		<add key="AdminRoleID" value="6"/>
	</appSettings>
</configuration>
