<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
	
	<appSettings>
		<add key="SQLConnection" value="SERVER=oegensvr2\bkupexec;Initial Catalog=APTUnitTest;UID=apt_user;PWD=password1=;" />
		<add key="ContextKey" value="someKeyTest"/>

		<!-- Site Keys -->
		<add key="SiteURL" value="http://localhost/web.apt" />
		<add key="SenderAddress" value="apt@oegen.co.uk" />
		<!-- Token Status IDs -->
		<add key="TokenStatusFree" value="1" />
		<add key="TokenStatusLock" value="2" />
		<add key="TokenStatusCons" value="3" />
		<add key="TokenStatusCancelled" value="4" />
		<!-- Place IDs -->
		<add key="StartPlaceID" value="2" />
		<add key="NonBDStartPlaceID" value="82"/>
		<add key="AllowPrintPlaceID" value="26"/>
		<add key="PreCollectBriefPlaceID" value="18"/>
		<add key="PreWilliamsLeaFinalCostsID" value="33"/>
		<add key="PostPrintProductionBDPlaceID" value="65"/>
		<add key="PostPrintProductionNonBDPlaceID" value="39"/>
		<!-- Place Type IDs -->
		<add key="PlaceTypeStart" value="1" />
		<add key="PlaceTypeIntermediate" value="2" />
		<add key="PlaceTypeFinish" value="3" />
		<!-- Password Values -->
		<add key="PasswordCharacters" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" />
		<add key="PasswordNumerics" value="0123456789" />
		<add key="PasswordLength" value="8" />
		<!-- User Roles -->
		<add key="OwnerRoleID" value="1" />
		<add key="AdminRoleID" value="6" />
		<add key="PORaiserID" value="7" />
		<add key="LegalApproverID" value="3" />
		<add key="GraphicsCoordinatorID" value="4" />
		<add key="ArtworkerID" value="5" />
		<add key="ProjectApproverID" value="12" />
		<add key="BDProjectManagerID" value="12" />
		<add key="BDAccountManagerID" value="13" />
		<add key="StudioQAID" value="10" />
		<add key="MDAProcurementID" value="19" />
		<add key="MDAKittingID" value="20" />
		<add key="MDAProjectManagerID" value="21" />
		<add key="MDAOnSiteID" value="22" />
		<!-- Project Keys -->
		<add key="TotalProjectDuration" value="25" />
		<!-- PDF -->
		<add key="DocumentsFolderPath" value="http://localhost/web.apt/Documents/" />
		<add key="JarLocation" value="http://localhost/web.apt/pdfannotation/pdfnotes/" />
		<add key="WebRoot" value="http://localhost/web.apt/" />
		<!-- Security Lookup Keys -->
		<add key="securityLookupUserID" value="1" />
		<add key="securityLookupRoleID" value="2" />
		<add key="securityLookupProjectID" value="3" />
		<!-- Context Type -->
		<add key="entityProjectId" value="1" />
		<add key="entityElementId" value="2" />
		<!-- Workflow Case Keys -->
		<add key="workflowCaseId" value="3" />
		<!-- Arc Type Keys -->
		<add key="SEQArcTypeId" value="1" />
		<add key="XORArcTypeId" value="2" />
		<!-- List Keys -->
		<add key="BrandListId" value="1" />
		<add key="TypeOfWorkListId" value="7" />
		<!-- Element Workflow -->
		<add key="PreElementStartTransitionID" value="79"/>
		<add key="ElementPlaceStartID" value="87" />
		<add key="ElementPlaceEndID" value="62" />
		<!-- Pre Conditions -->
		<add key="RejectedPreCondition" value="r" />
		<add key="AcceptedPreCondition" value="a" />
		<add key="StartedPreCondition" value="s" />
		<!-- List -->
		<add key="TradeListId" value="3" />
		<add key="TCListId" value="4" />
		<add key="BusinessAreaId" value="8" />
		<!-- Hours Available -->
		<add key="HoursAvailableInWeek" value="100" />
		<!-- Schema Entity Types -->
		<add key="SchemaProjectEntityID" value="1" />
		<add key="SChemaElementEntityID" value="3" />
		<!-- Schema Definition IDs -->
		<add key="PrintReferenceNumberID" value="1" />
		<add key="BrandListDefinitionID" value="2" />
		<add key="TypeOfWorkDefinitionID" value="17" />
		<add key="QuoteDefinitionID" value="18" />
		<!-- Audit IDs -->
		<add key="AddAuditChangeTypeID" value="1"/>
		<add key="EditAuditChangeTypeID" value="2"/>
		<add key="DeleteAuditChangeTypeID" value="3"/>
		<add key="ProjectCoreDetailsAuditSectionID" value="4"/>
		<!-- Transition IDs -->
		<add key="FinaliseAPTBriefTransitionID" value="23" />
		<add key="StudioQATaskId" value="35" />
		<add key="PrintProductionTransitionID" value="51"/>
		<add key="PrintGoAheadTransitionID" value="40"/>
		<!-- HTML Specifics -->
		<add key="HTMLNewLine" value="&lt;br /&gt;" />
	</appSettings>
</configuration>
