<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Database keys -->
		<add key="SQLConnection" value="SERVER=oegensvr2\bkupexec;Initial Catalog=APT;UID=apt_user;PWD=password1=;Persist Security Info=true;"/>
		<add key="ContextKey" value="someKeyTest"/>
		<!-- Site Keys -->
		<add key="SiteURL" value="http://localhost/web.apt/"/>
		<add key="SenderAddress" value="apt@oegen.co.uk"/>
    <add key="ErrorEmailAddress" value="tommy.ly@oegen.co.uk"/>
    <add key="WLeaGroupEmailAddress" value="WilliamsLea@molsoncoors.com"/>
    <add key="testEmail" value=""/>
		<!-- Token Status IDs -->
		<add key="TokenStatusFree" value="1"/>
		<add key="TokenStatusLock" value="2"/>
		<add key="TokenStatusCons" value="3"/>
		<add key="TokenStatusCancelled" value="4"/>
		<!-- Place IDs -->
		<add key="StartPlaceID" value="2"/>
		<add key="NonBDStartPlaceID" value="82"/>
		<add key="AllowPrintPlaceID" value="26"/>
		<add key="PreCollectBriefPlaceID" value="18"/>
		<add key="PreWilliamsLeaFinalCostsID" value="33"/>
		<add key="PostPrintProductionBDPlaceID" value="65"/>
		<add key="PostPrintProductionNonBDPlaceID" value="39"/>
		<add key="EndPlaceID" value="40"/>
    <add key="PrintRequiredPlaceID" value="52"/>
    <add key="FinalisedBriefBDPlaceID" value="81"/>
    <add key="FinalisedBriefNonBDPlaceID" value="84"/>
    <add key="BriefToProcurementPlaceID" value="68"/>
    <add key="StudioQAPlaceID" value="21"/>
		<!-- Place Type IDs -->
		<add key="PlaceTypeStart" value="1"/>
		<add key="PlaceTypeIntermediate" value="2"/>
		<add key="PlaceTypeFinish" value="3"/>
		<!-- Password Values -->
		<add key="PasswordCharacters" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"/>
		<add key="PasswordNumerics" value="0123456789"/>
		<add key="PasswordLength" value="8"/>
		<!-- User Roles -->
		<add key="OwnerRoleID" value="1"/>
		<add key="AdminRoleID" value="6"/>
		<add key="PORaiserID" value="7"/>
		<add key="LegalApproverID" value="3"/>
		<add key="GraphicsCoordinatorID" value="4"/>
		<add key="ArtworkerID" value="5"/>
		<add key="SystemAdminID" value="6"/>
		<add key="PrinterID" value="8"/>
		<add key="DesignerID" value="9"/>
		<add key="BrandManagerID" value="14"/>
		<add key="StudioManagerID" value="15"/>
		<add key="WilliamsLeaProjectManagerID" value="17"/>
		<add key="WilliamsLeaAccountManagerID" value="18"/>
    <add key="WilliamsLeaGlobalProjectManagerID" value="24"/>
		<add key="ProjectApproverID" value="12"/>
		<add key="BDProjectManagerID" value="12"/>
		<add key="BDAccountManagerID" value="13"/>
		<add key="StudioQAID" value="10"/>
		<add key="MDAProcurementID" value="19"/>
		<add key="MDAKittingID" value="20"/>
		<add key="MDAProjectManagerID" value="21"/>
		<add key="MDAOnSiteID" value="22"/>
    <add key="MDAGlobalProjectManagerID" value="24"/>
		<add key="DefaultStudioQA" value="tommy.ly"/>
		<add key="DefaultBDCoordinator" value="tommy.ly"/>
		<add key="DefaultNonBDCoordinator" value="tommy.ly"/>
		<!-- Project Keys -->
		<add key="TotalProjectDuration" value="25"/>
		<!-- PDF -->
		<add key="DocumentsFolderPath" value="~/Documents/"/>
		<!-- this must be a relative path with a ~ -->
		<add key="JarLocation" value="http://localhost/web.apt/pdfannotation/pdfnotes/"/>
		<add key="WebRoot" value="http://localhost/web.apt/"/>
		<!-- Security Lookup Keys -->
		<add key="securityLookupUserID" value="1"/>
		<add key="securityLookupRoleID" value="2"/>
		<add key="securityLookupProjectID" value="3"/>
		<!-- Context Type -->
		<add key="entityProjectId" value="1"/>
		<add key="entityElementId" value="2"/>
		<!-- Workflow Case Keys -->
		<add key="workflowCaseId" value="3"/>
		<!-- Arc Type Keys -->
		<add key="SEQArcTypeId" value="1"/>
		<add key="XORArcTypeId" value="2"/>
		<!-- List Keys -->
		<add key="BrandListId" value="1"/>
		<add key="TypeOfWorkListId" value="7"/>
		<!-- Element Workflow -->
		<add key="PreElementStartTransitionID" value="79"/>
		<add key="ElementWorkflowFinishTransitionID" value="49"/>
		<add key="ElementPlaceStartID" value="87"/>
		<add key="ElementPlaceEndID" value="62"/>
		<!-- Pre Conditions -->
		<add key="RejectedPreCondition" value="r"/>
		<add key="AcceptedPreCondition" value="a"/>
		<add key="StartedPreCondition" value="s"/>
		<!-- List -->
		<add key="TradeListId" value="3"/>
		<add key="TCListId" value="4"/>
		<add key="BusinessAreaId" value="8"/>
    <add key="ElementPageId" value="66"/>
    <add key="ElementQuantityId" value="67"/>
    <add key="BBCBrandsListId" value="70"/>
		<!-- Hours Available -->
		<!--<add key="HoursAvailableInWeek" value="100"/>-->
    <add key="WorkingWeekHours" value="35"/>
		<!-- Schema Entity Types -->
		<add key="SchemaProjectEntityID" value="1"/>
		<add key="SChemaElementEntityID" value="2"/>
		<!-- Schema Definition IDs -->
		<add key="PrintReferenceNumberID" value="1"/>
		<add key="BrandListDefinitionID" value="2"/>
		<add key="TypeOfWorkDefinitionID" value="17"/>
		<add key="QuoteDefinitionID" value="18"/>
    <add key="BusinessAreaDefinitionID" value="169"/>
		<!-- Audit IDs -->
		<add key="AddAuditChangeTypeID" value="1"/>
		<add key="EditAuditChangeTypeID" value="2"/>
		<add key="DeleteAuditChangeTypeID" value="3"/>
		<!-- Audit Section -->
		<add key="ProjectCoreDetailsAuditSectionID" value="4"/>
		<add key="ElementCoreDetailsSectionID" value="5"/>
		<add key="ProjectDocumentSectionID" value="6"/>
		<add key="AdditionalElementSectionID" value="9"/>
		<add key="BBCItemSectionID" value="11"/>
		<add key="KitSectionID" value="12"/>
		<add key="ReserveTimeAuditSectionID" value="10"/>
		<!-- Transition IDs -->
		<add key="FinaliseAPTBriefTransitionID" value="23"/>
		<add key="FinaliseAPTBriefTransitionNonBDID" value="75"/>
		<add key="ReserveTimeTransitionBDID" value="15"/>
		<add key="ReserveTimeTransitionNonBDID" value="76"/>
    <add key="PrintProductionTransitionID" value="51"/>
		<add key="PrintGoAheadTransitionID" value="40"/>
		<add key="IsPrintProjectTransitionID" value="61"/>
		<add key="BriefSignOffTransitionID" value="26"/>
		<add key="ChallengeBriefTransitionID" value="25"/>
		<add key="BriefSignOffNonBDTransitionID" value="78"/>
		<add key="ChallengeBriefNonBDTransitionID" value="77"/>
		<add key="KittingFinalTransitionID" value="33"/>
    <add key="NotifyWLeaTransitionID" value="62"/>
    <add key="WLeaBudgetProposal" value="17"/>
    <add key="AinNoRaiseBD" value="3"/>
    <!-- Task IDs -->
    <add key="StudioQATaskId" value="35"/>
    <add key="BDApprovalTaskId" value="36"/>
    <add key="SubmitToDBTaskId" value="37"/>
		<!-- HTML Specifics -->
		<add key="HTMLNewLine" value="&lt;br /&gt;"/>
		<add key="NavSelectedItemStyle" value="selected"/>
		<!-- Number of Artworkers -->
		<add key="NumArtworkers" value="10"/>
		<!-- Kitting -->
		<add key="ElementTypeId" value="1"/>
		<add key="PremiumElementTypeId" value="2"/>
		<add key="BBCItemTypeId" value="3"/>
		<!-- new web config -->
		<add key="BriefSubmittedPlaceId" value="81"/>
		<!-- PDF Stuff -->
		<add key="RadPdfLicenseKey" value="DEMO"/>
		<add key="RadPdfConnectionString" value="SERVER=oegensvr2\bkupexec;Initial Catalog=APT;UID=apt_user;PWD=password1=;"/>
		<!-- Project Listing Count -->
		<add key="ProjectListingCount" value="20"/>
		<!-- Project Listing Count -->
		<add key="FilenameMaxLength" value="80"/>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
    <!-- Reserve Time -->
    <add key="TotalArtworkerHours" value="400"/>
    <!-- Default Users -->
    <add key="DefaultPORaisersUserID" value="202, 207, 243"/>
    <add key="DefaultStudioQAUserID" value="214, 208, 202, 243"/>
    <add key="DefaultProjectCoordinatorsID" value="214, 208, 202, 236, 243"/>
    <add key="DefaultWLeaProjectManager" value="214, 208, 202, 243"/>
    <add key="DefaultMDAManager" value="214, 208, 243"/>
    <!-- Default Element Address -->
    <add key="DefaultCoorsAddress" value="Molson Coors, Carling House, 137 High St, Burton on Trent, Staffs, DE14 1JZ"/>
    <add key="NumberOfDelAddress" value="1"/>
    <add key="ArtworkCostPerHour" value="25"/>
    <add key="smptServer" value="localhost"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <add key="DefaultAinRaisedEmail" value="tommy.ly@oegen.co.uk"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
           
           
    <customErrors mode="On" defaultRedirect="404.html">

    </customErrors>
   
    -->
		<pages maintainScrollPositionOnPostBack="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add path="RadPdf.axd" verb="GET,POST" type="RadPdf.Web.HttpHandler.PdfHttpHandler"/>
            <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2009.3.1314.20 , Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<identity impersonate="false"/>
	</system.web>
	<log4net>
		<!-- Set default logging level to DEBUG for all directories referred by this project -->
		<logger name="ApplicationLogger">
			<level value="DEBUG"/>
		</logger>
		<root>
			<level value="ERROR"/>
			<appender-ref ref="LoggingFile"/>
		</root>
		<appender name="LoggingFile" type="log4net.Appender.RollingFileAppender">
			<file value="D:\Visual Studio 2010\Projects\Apt\web.apt\Application Log\Log.txt"/>
			<appendToFile value="true"/>
			<datePattern value="yyyyMMdd"/>
			<rollingStyle value="Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpErrors>
			<error statusCode="404" subStatusCode="13" path="http://localhost/web.apt/404.html" responseMode="Redirect"/>
		</httpErrors>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add path="RadPdf.axd" verb="GET,POST" name="RadPdfHandler" type="RadPdf.Web.HttpHandler.PdfHttpHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
